<!DOCTYPE html>
<html>
  <head>
    <title>My Profile</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item logo">Sarah Rehan
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" datatarget="navbar-menu-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbar-menu-burger">
        <div class="navbar-end">
          <div class="navbar-item nav-link"><%= link_to "Home", root_path, class:"button" %></div>
          <div class="navbar-item nav-link"><%= link_to "About", static_pages_about_path, class:"button" %></div>
          <div class="navbar-item nav-link"><%= link_to "Contact", static_pages_contact_path, class:"button" %></div>
        </div>
      </div>
      <div id="page-title">
        <%= yield :page_title %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>